<h2>Roger Ebert's Favorite Movies and Where to Watch Them</h2>
<div id="wrapper">
    <div id="columns">
    <% @reviews.each do |review| %>
        <div class="pin">
            <img src="<%= review.movie.poster_img_url %>"/>
             <p><a href="<%= review.url %>" target="_blank"><%= review.movie.title %> (<%= review.date.strftime('%Y') %>)</a></p>
             <% providers = movie_providers(review.movie.title) %>
             <% if providers.empty? %>
                <p>Not available yet :(</p>
             <% else %>
                <p>Available at: <%= providers.join(', ') %></p>
            <% end %>
        </div>
    <% end %>
    <%= paginate @reviews %>
</div>