<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">Ebertme</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div id="wrapper">
  <%= form_for :movie, url: {action: "index"}, html: {method: "get", class: 'form-inline'} do |f| %>
    <label for="movie_title">Movie title</label>
    <%= f.text_field :title, { id: 'movie_title' , class: 'form-control', value: @title} %>
    <label for="exampleInputName2">Provider</label>
    <%= f.select :provider_id, options_for_select(@providers.collect { |provider|
      [provider.name.titleize, provider.id] }, @provider_id), {:include_blank => 'All'}, { id: 'providers_select' , class: 'form-control'} %>
      <label for="inlineRadio1">Sort by</label>
      <label class="radio-inline">
        <%= f.radio_button :sort_method, "newest", {id: "sort_method_newest", checked: @sort_method == 'newest'} %> Newest first
      </label>
      <label class="radio-inline">
        <%= f.radio_button :sort_method, "oldest", {id: "sort_method_oldest", checked: @sort_method == 'oldest'} %> Oldest first
      </label>
    <%= f.submit "Search", {class: 'btn btn-default'}%>
  <% end %>
    <div id="columns">
    <% @reviews.each do |review| %>
        <div class="pin">
            <img src="<%= review.movie.poster_img_url %>"/>
             <p><a href="<%= review.url %>" target="_blank"><%= review.movie.title %> (<%= review.date.strftime('%Y') %>)</a></p>
             <p><% 1.upto(review.rating) do |x|  %> &#11088;<% end %></p>
             <% providers = review.movie.providers.map {|p| p.name } %>
             <% if providers.empty? %>
                <p>Not available yet :(</p>
             <% else %>
                <p>Available at: <%= providers.join(', ') %></p>
            <% end %>
        </div>
    <% end %>
</div>
 <%= paginate @reviews %>